API_PORT=4001
WEB_PORT=4002
NETCORE_PORT=5105
VITE_BASE_URL=http://localhost:4001
REDIS_URL=redis://127.0.0.1:6379
ACCESSTOKEN_SECRET=b2TestProjectSecretKey1234567890123456!
SECRET_GATEWAY_KEY=b2TestGatewayJwtSecretKey1234567890123456!
POSTGRESQL_URL=postgresql://postgres:postgres@127.0.0.1:5432/tkpm2024
ConnectionStrings__PostgresConnection=Host=localhost;Port=5432;Database=tkpm2024;Username=postgres;Password=123456;
MJ_APIKEY_PUBLIC=e352a6d227e5655a0714e7d9858e604a
MJ_APIKEY_PRIVATE=4de1019233ff336e8ce4a0906658b76c
OPENAI__API_KEY=your-openai-api-key
